<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel='shortcut icon' href='/img/linux_penguin.ico'/>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=2.0;">

<body>

<header>
    <header class="site-header">
        <img src="/img/linux_penguin.png" hight="100" width="100" alt="logo" />
        <span class="site-title">vlinux kmom10 (server)</span>
        <span class="site-slogan">Non omne quod nitet aurum est.</span>
    </header>
    <nav class="navbar">
        <a href="/data/">Allt</a>
        <a href="/data?ip=3.249.76.98">ip</a>
        <a href="/data?ip=3.249.76.98&url=google.com">url</a>
        <a href="/data?ip=3.249.76.98&url=google.com&month=Aug">month</a>
        <a href="/data?ip=3.249.76.98&url=google.com&month=Aug&day=17">day</a>
        <a href="/data?ip=3.249.76.98&url=google.com&month=Aug&day=17&time=6">time</a>
    </nav>
</header>

<main>
<article  class="all-browsers">
