<%- include("../partials/header", {title: title, path: path }); %>

<header>
    <h1>Välkommen till kmom04</h1>
    <p class="author">Kmom senast uppdaterad <time datetime="2021-09-02 01:05:12">den 2. september 2021</time></p>
</header>

<%- include("../partials/footer"); %>
