<%- include("./partials/header", {title: title, path: path}); %>

<h1>Alla routes</h1>

<ul>
   <li>Denna sida <a href="/">/</a></li>
   <li>Hela JSON-filen. <a href="/all">/all</a></li>
   <li>Namnen p책 alla v채xterna. <a href="/names">/names</a></li>
   <li>Alla v채xter som kan ha "color" som f채rg <a href="/color/Red">/color/&lt;color&gt;</a></li>
 </ul> 

<%- include("./partials/footer"); %>
