<!doctype html>
<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/style/style.css">
<link rel='shortcut icon' href='/img/linux-penguin.ico'/>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=2.0;">

<body>

<header>
    <header class="site-header">
        <img src="/img/linux-penguin.png" hight="100" width="100" alt="logo" />
        <span class="site-title">vlinux kmom10 (webbclient)</span>
        <span class="site-slogan">Demo av log filter.</span>
    </header>
</header>

<main>
<article  class="all-browsers">
